body {
    background-color: rgba(225, 223, 221, 0.2);
    min-height: 611px;
    margin: 0;
}

.grid-container {
    display: flex;
    gap: 32px;
    padding: 40px 20px;
    justify-content: center;
    /* center the main+sidebar group */
}

.main {
    flex: 1;
    background-color: #faf9f8;
    padding: 0 32px;
    overflow: auto;
}

.sidenav {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.wrapper {
    max-width: 1330px;
    margin: 0 auto;
    padding: 40px 20px;
}

.page-title {
    padding: 52px 0px;
}